.app-wrap {
  box-sizing: border-box;
  font-family: 'Baloo Tammudu 2', cursive;
  height: 100vh;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #7977a0;
  padding: 20px;
  box-shadow: 1px 1px 15px grey;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}